<template name="editActivity">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="url">Name</label>
			<div class="controls">
				<input name="name" type="text" value="{{name}}" placeholder="Name of activity"/>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="message">Tasks</label>
			{{#each tasks}}
				<div class="task">{{.}}</div>
			{{/each}}
			<div class="controls">
				<input id="newTask" placeholder="New task" />
				<button id="addTask">Add</button>
			</div>
		</div> 

		<div class="control-group">
			<label class="control-label" for="message">Participants</label>
			{{#each participants}}
				<div class="participant">{{.}}</div>
			{{/each}}
			<div class="controls">
				<input id="newParticipant" placeholder="Participant's name" />
				<button id="addParticipant">Add</button>
			</div>
		</div> 
	</form>
</template>