<template name="useActivity">
	<div class="use-activity">
		<div>
			<span class="name">{{name}}</span>
		</div>
		<div class="controls">
			<div>
				<button class="rotate btn btn-success"><i class="fa fa-refresh"></i> Rotate!</button>
				<button class="edit btn btn-default"><i class="fa fa-edit"></i></button>
			</div>
			<div>
				<div class="lastRotated">{{showLastRotatedDate}}</div>
				<div class="lastRotated">{{showLastRotatedTime}}</div>
			</div>
		</div>
		{{#each currentRotation}}
			<div>{{.}}</div>
		{{/each}}
	</div>
</template>